/broot/
/buildlogs.squashfs
/buildlogs/
/data/
/distfiles.squashfs
/distfiles/
/gencfg.diff
/gencfg.log
/image.iso
/iso/
/out/
/packages.squashfs
/packages/
/repos.squashfs
/repos.squashfs.wrk/
/repos/
/root/
